<h2 class="table-header">Lista de dispositivos</h2>
<p-table #dt [value]="dispositivos" dataKey="id" [paginator]="true" [rows]="10" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2rem"></th>
            <th pSortableColumn="segmento">Segmento <p-sortIcon field="segmento" /></th>
            <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente" /></th>
            <th pSortableColumn="host">Host <p-sortIcon field="host" /></th>
            <th pSortableColumn="ip">IP <p-sortIcon field="ip" /></th>
            <th pSortableColumn="estado">Estado <p-sortIcon field="estado" /></th>
            <th pSortableColumn="fechaCaida">Fecha Caída <p-sortIcon field="fechaCaida" /></th>
            <th pSortableColumn="fechaResolucion">Fecha Resolución <p-sortIcon field="fechaResolucion" /></th>
            <th pSortableColumn="noSerial">No. Serial <p-sortIcon field="noSerial" /></th>
            <th pSortableColumn="macAddress">MAC Address <p-sortIcon field="macAddress" /></th>
            <th pSortableColumn="marca">Marca <p-sortIcon field="marca" /></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dispositivo let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="dispositivo" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td>{{ dispositivo.segmento }}</td>
            <td>{{ dispositivo.cliente }}</td>
            <td>{{ dispositivo.host }}</td>
            <td>{{ dispositivo.ip }}</td>
            <td>
                <span [ngStyle]="{'background-color': dispositivo.estado ? 'green' : 'red', 'display': 'inline-block', 'width': '10px', 'height': '10px', 'border-radius': '50%'}"></span>
            </td>
            <td>{{ dispositivo.fechaCaida }}</td>
            <td>{{ dispositivo.fechaResolucion }}</td>
            <td>{{ dispositivo.noSerial }}</td>
            <td>{{ dispositivo.macAddress }}</td>
            <td>
                {{ dispositivo.marca.length > 20 ? (dispositivo.marca | slice:0:20) + '...' : dispositivo.marca }}
            </td>              
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-dispositivo>
        <tr>
            <td colspan="11">
                <div style="padding: 1rem">
                    <h5>Problemas de Interfaces</h5>
                    <table class="table-zebra" *ngIf="problemasInterfaces[dispositivo.id]">
                        <thead>
                            <tr>
                                <th>Interface</th>
                                <th>Estado</th>
                                <th>Problema</th>
                                <th>Fecha Problema</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let problema of problemasInterfaces[dispositivo.id]">
                                <td>{{ problema.interfaceDescription }}</td>
                                <td>
                                    <span [ngStyle]="{'background-color': problema.estado === '1' ? 'green' : 'red', 'display': 'inline-block', 'width': '10px', 'height': '10px', 'border-radius': '50%'}"></span>
                                </td>
                                <td>{{ problema.problema }}</td>
                                <td>{{ problema.fechaProblema }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </ng-template>      

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="11">No se encontraron dispositivos.</td>
        </tr>
    </ng-template>
</p-table>